
<ion-view title="Properties">

    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-search" href="#/app/property-search">
        </a>
    </ion-nav-buttons>

    <ion-content class="has-header padding listing">
        <ion-refresher on-refresh="doRefresh()" pulling-text="Update List" refreshing-text="Updating" refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="list">
            <a href="#/app/property" class="item item-thumbnail-left" ng-repeat="property in properties" ng-click="showProperty(property)" >
                <img ng-src="{{property.thumbnail}}" hide-on-err>
                <h2>{{property.location}}</h2>

                <p>Price: {{property.price}}</p>
            </a>
        </div>
        <ion-infinite-scroll
                class="list"
                ng-if="moreDataCanBeLoaded()"
                icon="ion-loading-c"
                on-infinite="nextPage()"
                distance="50%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
